<!DOCTYPE html>
<html>

{{ render "core/resources/templates/admin/partials/head.html" }}

<body class="hold-transition skin-blue sidebar-mini" style="background-color: #222d32;">
    <div class="wrapper">
        {{ render "core/resources/templates/admin/partials/main-header.html" }} {{ render "core/resources/templates/admin/partials/main-sidebar.html" }} {{ render "core/resources/templates/admin/partials/loading.html" }}
        <div class="content-wrapper">
            {{ render "core/resources/templates/admin/partials/message.html" }}

            <section class="content container-fluid">
                <div class="row">
                    <div class="col-xs-12">